.navbar-login {
  padding: 10px 5px;
}

.welcome {
  height: 100%;
  width: 100%;
	  /* Location of the image */
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://res.cloudinary.com/da6v0vrqx/image/upload/cover_image_bocsg6.jpg');
  
	  /* Background image is centered vertically and horizontally at all times */
	  background-position: center center;
  
	  /* Background image doesn't tile */
	  background-repeat: no-repeat;
  
	  /* This is what makes the background image rescale based
	     on the container's size */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
	  /* Set a background color that will be displayed
	     while the background image is loading */
	  background-color: #fff;
}

.night_out {
  height: 100%;
  width: 100%;
	  /* Location of the image */
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://res.cloudinary.com/da6v0vrqx/image/upload/night_out_fun.jpg');
  
	  /* Background image is centered vertically and horizontally at all times */
	  background-position: center center;
  
	  /* Background image doesn't tile */
	  background-repeat: no-repeat;
  
	  /* This is what makes the background image rescale based
	     on the container's size */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
	  /* Set a background color that will be displayed
	     while the background image is loading */
	  background-color: #fff;
  
}

.dinner_without_kids {
  height: 100%;
  width: 100%;
	  /* Location of the image */
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ), url('https://res.cloudinary.com/da6v0vrqx/image/upload/baby_dropping_food_small.jpg');
  
	  /* Background image is centered vertically and horizontally at all times */
	  background-position: center center;
  
	  /* Background image doesn't tile */
	  background-repeat: no-repeat;
  
	  /* This is what makes the background image rescale based
	     on the container's size */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  
	  /* Set a background color that will be displayed
	     while the background image is loading */
	  background-color: #fff;
  
}

.only-friends {
  background: #3C8DBC;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #fff;
}

.all-free {
  background: #EB6E96;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #fff;
}

.list-of-benefits {
  width: 100%;
  background: #3C8DBC;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.easy-life {
  background: #EB6E96;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #fff;
}

.easy-life h1 {
  font-size: 25px;
}

.landing-btn-margin {
  margin-top: 20px;
}

.landing-footer {
  margin: 20px;
}

.jumbotron-landing {
  margin-left: 5%;
  width: 90%;
  padding: 30px 15px;
  margin-bottom: 30px;
  color: #fff;
  background-color: none;
  text-align: center;
  position: relative;
  transform: translateY(3%);
  -ms-transform: translateY(3%);
  -webkit-transform: translateY(3%);
  -o-transform: translateY(3%);
  -moz-transform: translateY(3%);
}

.jumbotron-landing h1,
.jumbotron-landing .h1 {
  color: inherit;
  font-size: 30px;
}

.jumbotron-landing > hr {
  border-top-color: #cfd9db;
}

.opacity {
  background: rgb(231,236,238); /* Fall-back for browsers that don't
                                      support rgba */
  background: rgba(231,236,238,0.8);
}

.jumbotron-altered {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: #2091C5;
  background-color: #fff;
  border-radius: 5px;
}
.jumbotron-altered h1,
.jumbotron-altered .h1 {
  color: inherit;
  font-size: 35px;
}
.jumbotron-altered p {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 200;
  color: #2091C5;
}
.jumbotron-altered > hr {
  border-top-color: #cfd9db;
}
.container .jumbotron-altered,
.container-fluid .jumbotron-altered {
  border-radius: 6px;
}
.jumbotron-altered .container {
  max-width: 100%;
}

img.landing-logo {
  height: 40px;
}

a.landing-scroll {
  font-size: 0px;
}

.number-circle {
  margin-left: 45%;
  width:50px;
  height: 50px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  border-style: solid;
}

@media screen and (min-width: 600px) {
  
  img.landing-logo {
    height: 80px;
  }
  
  .jumbotron-landing {
    margin-left: 10%;
    width: 80%;
    transform: translateY(25%);
    -ms-transform: translateY(25%);
    -webkit-transform: translateY(25%);
    -o-transform: translateY(25%);
    -moz-transform: translateY(25%);
  }
  .container .jumbotron-landing,
  .container-fluid .jumbotron-landing {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron-landing h1,
  .jumbotron-landing .h1 {
    font-size: 50px;
  }
  
  .landing-bottom {
    position: absolute;
    bottom: 0;
    left: 48%;
  }

  a.landing-scroll {
    font-size: 70px;
    color: #fff;
  }
  
  .easy-life {
    background: #EB6E96;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
    color: #fff;
  }
  
  .easy-life h1 {
    font-size: 36px;
  }
  
}

@media screen and (min-width: 768px) {
  
  .container .jumbotron-altered,
  .container-fluid .jumbotron-altered {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron-altered h1,
  .jumbotron-altered .h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 991px) {
  .night_out {
    height: 100%;
    width: 100%;
  	  /* Location of the image */
      background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://res.cloudinary.com/da6v0vrqx/image/upload/night_out_fun.jpg');
  
  	  /* Background image is centered vertically and horizontally at all times */
  	  background-position: center center;
  
  	  /* Background image doesn't tile */
  	  background-repeat: no-repeat;
  
  	  /* This is what makes the background image rescale based
  	     on the container's size */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
  	  /* Set a background color that will be displayed
  	     while the background image is loading */
  	  background-color: #fff;
  
  }
  
  
  .dinner_without_kids {
    height: 100%;
    width: 100%;
  	  /* Location of the image */
      background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ), url('https://res.cloudinary.com/da6v0vrqx/image/upload/baby_dropping_food.jpg');
  
  	  /* Background image is centered vertically and horizontally at all times */
  	  background-position: center center;
  
  	  /* Background image doesn't tile */
  	  background-repeat: no-repeat;
  
  	  /* This is what makes the background image rescale based
  	     on the container's size */
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  
  	  /* Set a background color that will be displayed
  	     while the background image is loading */
  	  background-color: #fff;
    }
    
    .jumbotron-landing {
      margin-left: 10%;
      width: 80%;
      transform: translateY(35%);
      -ms-transform: translateY(35%);
      -webkit-transform: translateY(35%);
      -o-transform: translateY(35%);
      -moz-transform: translateY(35%);
    }
    .container .jumbotron-landing,
    .container-fluid .jumbotron-landing {
      padding-left: 60px;
      padding-right: 60px;
    }
    .jumbotron-landing h1,
    .jumbotron-landing .h1 {
      font-size: 50px;
    }
}