%br
%br   
  .row
    .col-md-8.col-md-offset-1
      %header
        %h1 
          %i.fa.fa-users
          Friends In Your #{@group.group_name} Group
        %br
  .row
    .col-lg-6.col-lg-offset-1.col-md-8.col-md-offset-1
      / USERS LIST
      .box.box-primary
        .box-header.with-border
          %h3.box-title #{@group.group_name} Group
        / /.box-header
        .box-body.no-padding
          %ul.users-list.clearfix
            - @group.friends_in_group(current_user).each do |friend|
              %li
                %img{:alt => "User Image", :src => avatar_url(friend.email, 150), "data-toggle" => "tooltip", :title => "#{friend.full_name}"}/
                .users-list-name #{ friend.full_name }
          / /.users-list
        / /.box-body
      =link_to 'Invite A Friend To This Group', invite_friend_group_path, class: "btn bg-olive btn-flat btn-lg"