.home-body   
  %ul{ class: "nav nav-pills pull-right" }
    - current_user.user_groups.each do |user_group|
      %li{ class: "active" }
        %a{ href: group_path(user_group.group) }  
          %span #{ user_group.group.group_name }
          %span{ class: "badge" } #{ user_group.tokens }