.home-body   
  %ul{ class: "nav nav-pills pull-right" }
    %li{ class: "active" }
      %a{ href: "" }
        %span Tokens
        %span{ class: "badge" }20
.row
  .col-lg-5
    .media
      %a{class: "pull-left", href: ""}
        = image_tag("user-placeholder.png", class: "media-object dp img-circle", width: "100", height: "100")
      .media-body
        %h4{ class: "media-name" } Jeff Knox
        
.home-body       
  .row
    .col-lg-5
      %a{ href: "", class: "freedom-button btn btn-success btn-lg btn-block" }Pick Your Next Day Of Freedom
     
  .row
    .col-lg-5
      .user_nights
        .panel.panel-primary
          .panel-heading
            %h3{ class: 'panel-title' } Your Nights Of Freedom
          .panel-body
            %table{ class: "table table-striped table-hover" }
              %thead
                %tr
                  %th Date
                  %th Status
              %tbody
                %tr{ class: 'warning'}
                  %td 27/02/2015
                  %td Waiting...
                %tr{ class: 'success'}
                  %td 25/04/2015
                  %td Accepted
                
    .col-lg-6.col-lg-offset-1
      .other_nights
        .panel.panel-primary
          .panel-heading
            %h3{ class: 'panel-title' } Requests For Freedom
          .panel-body
            %table{ class: "table table-striped table-hover" }
              %thead
                %tr
                  %th Name
                  %th Date
              %tbody
                %tr
                  %td Lisa McKibbon
                  %td 01/04/2015
                  %td
                    %a{ href: "#", class: "btn btn-success btn-xs" }Open
                %tr
                  %td Rachel Macauley
                  %td 06/04/2015
                  %td
                    %a{ href: "#", class: "btn btn-success btn-xs" }Open
                %tr
                  %td Peter Lord
                  %td 21/04/2015
                  %td
                    %a{ href: "#", class: "btn btn-success btn-xs" }Open