- body_class "sidebar-collapse"
- content_wrapper_class "welcome"
.jumbotron-altered
  .row
    .col-md-8.col-md-offset-1
      %header
        %h2 Expired Link
        %br
      %p Sorry, your link has expired.