%body.welcome
  .jumbotron.opacity
    %h1 Your Baby Sitting Solution!
    %p You babysit for friends and they repay the favour.  Freedom Tokens keeps track of everything for you. Simple!
    %p 
      =link_to 'Register', register_path, class: "btn btn-success btn-lg"
      =link_to 'Login', sign_in_path, class: "btn btn-success btn-lg"