.jumbotron
  %h1 Your Baby Sitting Solution!
  %p You babysit for friends and they repay the favour.  Freedom Tokens keeps track of everything for you. Simple!
  %p 
    %a{ class: "btn btn-success btn-lg", href: register_path }Register
    %a{ class: "btn btn-primary btn-lg", href: sign_in_path }Login