- body_class "sidebar-collapse"
- content_wrapper_class "welcome"
- content_class "full-page"
.scroll-section
  %section#intro.intro-section
    .container
      .row
        .col-lg-12
          .jumbotron-altered
            .row
              .col-md-6
                %img{:class => "landing-logo", :alt => "Time Off Tokens", :src => "https://res.cloudinary.com/da6v0vrqx/image/upload/landing_logo.jpg"}
              .col-md-6
                %h1 Your babysitting solution!
                %p You babysit for friends and they repay the favour.  #{ENV['site_name']} keeps track of everything for you. Simple!
            %br
            %br
            %br
            .row  
              %p 
                =link_to 'Register Now', register_path, class: "btn bg-olive btn-flat btn-lg"
                =link_to 'Login', sign_in_path, class: "btn bg-olive btn-flat btn-lg"
  / About Section
  %section#benefits.benefits-section
    .container
      .row
        .col-lg-12
          %a.page-scroll{:href => "#benefits"} 
            %i.fa.fa-arrow-circle-o-down.animated.bounceInDown
      .row
        .signup-steps
          .col-lg-12
            .row
              .landing-columns.col-sm-4
                .signup-icons
                  %i.fa.fa-sign-in
                .row
                  %h2 Create a FREE account!
                  %h5 It only takes a few seconds to create your free account.
              .landing-columns.col-sm-4
                .signup-icons
                  %i.fa.fa.fa-users
                .row
                  %h2 Invite your friends
                  %h5 Become part of a babysitting circle and get your friends to join. Circles are private to you and your friends.
              .landing-columns.col-sm-4
                .signup-icons
                  %i.fa.fa-comments
                .row
                  %h2 Enjoy time off!
                  %h5 Make requests to friends for babysitting and enjoy some well deserved time off.
                  %br
                  %br
                  %br
            .row
              =link_to 'Create your account now', register_path, class: "btn bg-olive btn-flat btn-lg"
              %br
              %br
              %br
              
