- body_class "sidebar-collapse"
- content_wrapper_class "welcome"
.jumbotron-altered
  %h1 Your Baby Sitting Solution!
  %p You babysit for friends and they repay the favour.  Babysitting Tokens keeps track of everything for you. Simple!
  %p 
    =link_to 'Register', register_path, class: "btn btn-success btn-lg"
    =link_to 'Login', sign_in_path, class: "btn btn-success btn-lg"