- body_class "sidebar-collapse"
- content_wrapper_class "welcome"
.jumbotron-altered
  %h1 Babysitting Tokens Instructions
  %br
  %p This site is designed to make your life easier by keeping track of the dates you are babysititng for friends and when they are babysitting for you.  Below are some simple instructions for how to use the site:
  
  %p - Register as a new user
  %p - You have to either create a new babysitting group or search for friends and request to join their group
  %p - When you are a member of a group, you can send invites to other friends to join your group
  %p - You can be a member of as many groups as you like
  %p - Now you can make requests for your friends to babysit for you.  Go on, have some time off!
  %p - Token rules are pretty simple, 1 hour = 1 token and when you become a member of a group you automatically get 20 tokens
  %p - For every hour you babysit for a friend you earn 1 token and for every hour a friend babysits for you, you are deducted 1 token. 
  
  %h2 That's pretty much it! Sign up now and organise a day off or a night out!
  %br
  %p 
    =link_to 'Register', register_path, class: "btn bg-olive btn-flat btn-lg"