- body_class "sidebar-collapse"
- content_wrapper_class "welcome"
.jumbotron-altered
  %h1 Privacy Policy
  %br
  
  %h2 What information do we collect?
  %p We collect information from you when you register on our site or fill out a form.  This information is necessary to kep your babysitting circle details private amongst friends
  
  %h2 What do we use your information for?
  %p - To personalise your experience
  %p - To improve the website
  %p - To improve customer service
  %p - To process requests for babysittng
  %p - To send periodic emails such as letting you know when a friend has made a request for a babysitter
  
  %h2 How do we protect your information?
  %p Passwords are secured with one way encryption and are encrypted in the database.  We cannot access your password information.
  
  %h2 Do we disclose any information to outside parties?
  %p We do not sell, trade or otherwise transfer to outside parties your personally identifiable information.  This does not include trusted third parties that assist us in operating our website, or servicing you, so long as those parties agree to keep this information confidential.  We may also release your information when we believe release is appropriate to comply with law, enforce our site policies, or protect ours or others rights.
  
  %h2 Third party links
  %p Occasionally, at our discretion, we may include or offer third party products or services on our website.  These third party sites have separate and independent privacy policies but we seek to protect the integrity of our site and welcome any feedback about these sites.
  
  %h2 Your consent
  %p By using our site, you consent to our privacy policy.
  
  %h2 Contacting Us
  %p If you have any questions or feedback you may contact us at knoxjeffrey@outlook.com