.jumbotron
  %h1 Your Baby Sitting Solution!
  %p You babysit for friends and they repay the favour.  Freedom Tokens keeps track of everything for you. Simple!
  %p 
    %a{ class: "btn btn-success btn-lg" }Register
    %a{ class: "btn btn-primary btn-lg" }Login