%ul{ class: "nav nav-pills pull-right" }
  %li{ class: "active" }
    %a{ href: "#" }
      %span Tokens
      %span{ class: "badge" }20
.row
  .col-lg-5
    .media
      %a{class: "pull-left", href: "#"}
        = image_tag("user-placeholder.png", class: "media-object dp img-circle", width: "100", height: "100")
      .media-body
        %h4{ class: "media-name" } Jeff Knox
        
.home-body       
  .row
    .col-lg-5
      %a{ href: "#", class: "btn btn-success btn-lg btn-block" }Pick Your Next Day Of Freedom