.signup-steps {
  color: #fff;
}

.signup-icons {
  font-size: 80px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .signup-icons {
    font-size: 150px;
    color: #fff;
  }
}

.landing-columns.col-sm-4 {
  padding-left: 35px;
  padding-right: 35px;
}