.intro-section {
  padding-top: 50px;
  text-align: center;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: rgba(0, 0, 0, 0.1);
}

.benefits-section {
  padding-top: 100px;
  text-align: center;
  background: #3C8DBC;
}

.full-page {
  padding: 0px;
}

a.page-scroll {
  font-size: 0px;
}

@media screen and (min-width: 991px) {
  .intro-section {
    height: 100vh;
  }
  
  .benefits-section {
    height: 100vh;
  }
  
  a.page-scroll {
    font-size: 50px;
    color: #fff;
    position: relative;
    bottom: 180px;
  }
}