.welcome {
  height: 100%;
	/* Location of the image */
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), image-url('cover_image.jpg');
  
	  /* Background image is centered vertically and horizontally at all times */
	  background-position: center center;
  
	  /* Background image doesn't tile */
	  background-repeat: no-repeat;
  
	  /* Background image is fixed in the viewport so that it doesn't move when 
	     the content's height is greater than the image's height */
	  background-attachment: fixed;
  
	  /* This is what makes the background image rescale based
	     on the container's size */
	  background-size: cover;
  
	  /* Set a background color that will be displayed
	     while the background image is loading */
	  background-color: #fff;
}

.opacity {
  background: rgb(231,236,238); /* Fall-back for browsers that don't
                                      support rgba */
  background: rgba(231,236,238,0.8);
}

.jumbotron-altered {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ecf0f1;
  border-radius: 5px;
}
.jumbotron-altered h1,
.jumbotron-altered .h1 {
  color: inherit;
}
.jumbotron-altered p {
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 200;
}
.jumbotron-altered > hr {
  border-top-color: #cfd9db;
}
.container .jumbotron-altered,
.container-fluid .jumbotron-altered {
  border-radius: 6px;
}
.jumbotron-altered .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron-altered {
    padding: 48px 20px;
    
  }
  .container .jumbotron-altered,
  .container-fluid .jumbotron-altered {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron-altered h1,
  .jumbotron-altered .h1 {
    font-size: 67.5px;
  }
}